html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #92d6ed, #cd81da);
    font-family: 'Open Sans', sans-serif;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}



header {
    background: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.section1 {
    max-height: 17vh;
    background-color: white;
    text-align: center;
    padding: 20px;
    flex: 1;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section1 p {
    font-size: 20px;
}

.section2 {
    background-color: white;
    text-align: left;
    padding: 20px;
    flex: 1;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.section2 h2 {
    text-align: center;
}

.section2 p {
    margin-left: 10px;
    font-size: 20px;
}

.sheader {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
}

.buttonLinks {
    font-size: 20px;
    background: #91cfe3;
    background-size: 200% 100%;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.buttonLinks:hover {
    background-color: #6fa9bd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.oneLink {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}

footer {
    background: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 768px) {
    .section1 {
        width: 50%;
        flex: 1 0 50%;
        margin-right: 50px;
    }

    footer {
        position: relative;
    }
    .section2 {
        width: 50%; 
        flex: 1 0 50%;
        margin-left: 50px;
    }

    
}
