html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #92d6ed, #cd81da);
    font-family: 'Open Sans', sans-serif;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
}

header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex: 1;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

.content img {
    flex: 2;
}
.content h2 {
    padding-top: 20px;
}

button {
    font-size: 20px;
    background: #91cfe3;
    background-size: 200% 100%;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}
button:hover {
    background-color: #6fa9bd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
}

footer {
    background: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Ensure it's above the rest of the content */
}
