/* Add these styles for the CodeMark Links section */
.links {
    list-style: none;
    padding: 0;
}

.links li {
    margin: 10px 0;
}

.links a {
    text-decoration: none;
    color: #333;
    display: inline-flex;
    align-items: center;
}

.links img {
    width: 20px; /* Adjust icon size as needed */
    margin-right: 10px; /* Add space between icon and text */
}

/* Style the Snapchat section */
.sidebar h2:nth-of-type(2) {
    margin-top: 20px; /* Add space between CodeMark Links and Snapchat section */
}

.sidebar p {
    font-weight: bold;
    margin: 10px 0;
}

/* Style Snapchat QR code */
.sidebar img {
    max-width: 100%;
    height: auto;
    display: block; /* Center the image horizontally */
    margin: 10px auto; /* Add space around the QR code */
}

/* Adjust spacing and style of the footer */
footer {
    background: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Ensure it's above the rest of the content */
}

/* CSS for YouTube button */
footer a {
    margin-top: 10px; /* Add space between the text and the button */
    display: inline-block; /* Make the button inline */
    background-color: #FF0000; /* YouTube red */
    color: white;
    text-align: center;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
}

footer a:hover {
    background-color: #CC0000; /* Darker red on hover */
}
