* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
}

.header {
    background-color: #232428;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo img {
    max-width: 50px;
    margin-right: 5px;
}

.logo h1 {
    margin-left: 5px;
    font-family: 'Akaya Telivigala', cursive;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.menu ul li a:hover {
    color: #9999;
    transition: color 0.4s ease-in-out;
}

.info-about-area {
    margin: 0 auto;
    padding: 20px;
    background-image: url("../images/background.png");
    background-color: rgba(121, 106, 95, 0.438);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    align-items: center;
}

.section {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
    margin-bottom: 10px;
}

.column h1,
.column p {
    color: white;
}

@keyframes neon {
    0% {
        text-shadow: 0 0 10px #4d70ff, 0 0 20px #4d70ff, 0 0 30px #4d70ff, 0 0 40px #4d70ff, 0 0 70px #4d70ff, 0 0 80px #4d70ff, 0 0 100px #4d70ff, 0 0 150px #4d70ff;
    }

    50% {
        text-shadow: 0 0 10px #4d70ff, 0 0 20px #4d70ff, 0 0 30px #4d70ff, 0 0 40px #e64ffa, 0 0 70px #e64ffa, 0 0 80px #e64ffa, 0 0 100px #e64ffa, 0 0 150px #e64ffa;
    }

    100% {
        text-shadow: 0 0 10px #e64ffa, 0 0 20px #e64ffa, 0 0 30px #e64ffa, 0 0 40px #4d70ff, 0 0 70px #4d70ff, 0 0 80px #4d70ff, 0 0 100px #4d70ff, 0 0 150px #4d70ff;
    }
}

.column h1 {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 3rem;
    text-align: center;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    animation: neon 2s linear infinite;
    font-size: 48px;
    color: #FFFFFF !important;
    text-align: left;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column,
.column-about,
.column-hire-me {
    flex-basis: calc(50% - 20px);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.column-about {
    background-color: #3d3435;
}

.column-about p {
    color: white;
    margin-bottom: 10px;
}

.column-about h2 {
    font-family: Arial, sans-serif;
    font-size: 26px;
    color: #ffffff !important;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
}

.social-media {
    list-style: none;
    padding: 20px 20px 20px 20px;
    background: #504647;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 275px;
    display: flex;
    justify-content: space-between;
}

.social-media h2 {
    margin-bottom: 0px;
}

.social-media li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.backImage {
    padding: 10px;
}

.social-media a {
    color: #ffffff;
    margin-left: 10px;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

.social-media li img {
    width: 20px;
}

.column-hire-me {
    font-weight: 700;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
    background-color: #261c22b0;
    height: 20%;
}

strong {
    font-weight: 700;
}

.column p {
    color: white;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.column-hire-me p,
.column-hire-me li {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.column-hire-me h3 {
    font-family: 'Open Sans', sans-serif;
    background-color: #383a40;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
}

.column-hire-me li {
    margin-left: 20px;
}

.latest {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    background-color: #232428;

}

.latest h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.latest h1 a {
    color: white;
    text-decoration: none;
}

.latest h1 a:hover {
    text-decoration: underline;
}

.blog-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.blog-image {
    margin-top: 10px;
    border-radius: 5px;
}

.blog-image.landscape {
    max-height: 100%;
    max-width: 300px;
}

.blog-image.portrait {
    max-width: 100%;
    max-height: 300px;
}

.blog-item:last-child {
    border-bottom: none;
}

.blog-time {
    font-size: 13px;
    margin-bottom: 5px;
    color: #b5bac1;
}

.blog-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: #b5bac1;
}

.blog-link {
    font-size: 14px;
    color: #007bff;
}

.blog-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.blog-container {
    max-width: 45%;
}

.blog-container h1 {
    text-align: center;
}

.wrapped {
    background-color: #232428;
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
    margin-bottom: 10px;
}

.popular-projects {
    font-weight: 700;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
    height: 20%;
    color: white;
}

.blog-container,
.popular-projects {
    flex-basis: calc(50% - 20px);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #313338;
}

.projectBox {
    width: 100%;
    background-color: #383a40;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    color: white;
}

.projectBox:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.projectHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.projectIcon {
    width: 40px;
    height: 40px;
    border-radius: 8%;
    object-fit: cover;
}

.buttonToggle {
    background-color: #383a40;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 5px;
    border-radius: 50%;
}

.buttonToggle:hover {
    transform: scale(1.1);
}

.buttonTry {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonTry:hover {
    background-color: #555;
}

@media only screen and (max-width: 980px) {
    .row {
        flex-direction: column;
    }

    .column-about,
    .column-hire-me {
        flex-basis: 100%;
        margin-right: 0;
    }
}
