/* Reset some default styles */
html, body {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom right, #92d6ed, #cd81da);
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Video display styles */
.video-display {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    text-align: center;
}

.video {
    max-width: 100%;
    margin-bottom: 20px;
}

.video h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.video p {
    color: #777;
}

/* Footer styles */
footer {
    background: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
