html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom right, #92d6ed, #cd81da);
}

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-bottom: 10px;
}

header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


h1 {
    text-align: center;
    margin-top: 20px;
}

#shoutList {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shout-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}
.shout-item:hover {
    transform: scale(1.035);
}

.shout-item p {
    margin: 10px 0;
    word-wrap: break-word;
}

.shout-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.show-more-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.show-more-button:hover {
    background-color: #0056b3;
}
#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    max-width: 400px;
    width: 90%;
}

#modal input[type="text"],
#modal input[type="password"],
textarea {
    width: calc(100% - 22px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#modal button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#modal button[type="submit"] {
    background-color: #4caf50;
    margin-right: 10px;
}

#modal button:hover {
    background-color: #555;
}
